@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --card: 216 45% 97%;
    --ring: 217 100% 74%;
    --input: 220 13% 91%;
    --muted: 216 30% 92%;
    --accent: 216 19% 90%;
    --border: 220 13% 91%;
    --popover: 216 45% 97%;
    --primary: 217 100% 74%;
    --secondary: 216 19% 90%;
    --background: 216 45% 98%;
    --foreground: 216 70% 3%;
    --destructive: 18 98% 41%;
    --card-foreground: 216 70% 2%;
    --muted-foreground: 216 10% 25%;
    --accent-foreground: 216 19% 30%;
    --popover-foreground: 216 70% 2%;
    --primary-foreground: 216 62% 6%;
    --secondary-foreground: 216 19% 30%;
    --destructive-foreground: 0 0% 100%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 234 23% 17%;
    --foreground: 225 69% 87%;
    --muted: 234 12% 21%;
    --muted-foreground: 234 12% 71%;
    --popover: 234 23% 14%;
    --popover-foreground: 225 69% 97%;
    --card: 234 23% 15%;
    --card-foreground: 225 69% 92%;
    --border: 234 13% 22%;
    --input: 234 13% 25%;
    --primary: 217 100% 74%;
    --primary-foreground: 217 100% 14%;
    --secondary: 217 30% 25%;
    --secondary-foreground: 217 30% 85%;
    --accent: 234 23% 32%;
    --accent-foreground: 234 23% 92%;
    --destructive: 3 92% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 217 100% 74%;
  }

  [data-theme="pine"] {
    --background: 152 65% 98%;
    --foreground: 152 66% 4%;
    --muted: 152 19% 87%;
    --muted-foreground: 152 11% 26%;
    --popover: 152 65% 98%;
    --popover-foreground: 152 66% 4%;
    --card: 152 65% 98%;
    --card-foreground: 152 66% 4%;
    --border: 152 6% 91%;
    --input: 152 6% 91%;
    --primary: 152 69% 32%;
    --primary-foreground: 0 0% 100%;
    --secondary: 152 1% 86%;
    --secondary-foreground: 152 1% 26%;
    --accent: 152 7% 80%;
    --accent-foreground: 152 7% 20%;
    --destructive: 16 98% 31%;
    --destructive-foreground: 0 0% 100%;
    --ring: 152 69% 32%;
    --radius: 0.5rem;
  }

  [data-theme="pine"].dark {
    --background: 152 37% 3%;
    --foreground: 152 26% 99%;
    --muted: 152 19% 13%;
    --muted-foreground: 152 11% 74%;
    --popover: 152 37% 3%;
    --popover-foreground: 152 26% 99%;
    --card: 152 37% 3%;
    --card-foreground: 152 26% 99%;
    --border: 152 6% 15%;
    --input: 152 6% 15%;
    --primary: 152 69% 32%;
    --primary-foreground: 0 0% 100%;
    --secondary: 152 7% 10%;
    --secondary-foreground: 152 7% 70%;
    --accent: 152 14% 16%;
    --accent-foreground: 152 14% 76%;
    --destructive: 16 98% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 152 69% 32%;
  }

  [data-theme="coral"] {
    --background: 15 46% 98%;
    --foreground: 15 52% 4%;
    --muted: 15 37% 93%;
    --muted-foreground: 15 14% 29%;
    --popover: 15 46% 98%;
    --popover-foreground: 15 52% 4%;
    --card: 15 46% 98%;
    --card-foreground: 15 52% 4%;
    --border: 15 7% 92%;
    --input: 15 7% 92%;
    --primary: 15 87% 62%;
    --primary-foreground: 15 87% 2%;
    --secondary: 15 14% 86%;
    --secondary-foreground: 15 14% 26%;
    --accent: 15 14% 86%;
    --accent-foreground: 15 14% 26%;
    --destructive: 6 81% 41%;
    --destructive-foreground: 0 0% 100%;
    --ring: 15 87% 62%;
    --radius: 0.5rem;
  }

  [data-theme="coral"].dark {
    --background: 15 49% 4%;
    --foreground: 15 25% 99%;
    --muted: 15 37% 7%;
    --muted-foreground: 15 14% 71%;
    --popover: 15 49% 4%;
    --popover-foreground: 15 25% 99%;
    --card: 24 32.94% 5.79%;
    --card-foreground: 15 25% 99%;
    --border: 15 7% 12%;
    --input: 15 7% 12%;
    --primary: 15 87% 62%;
    --primary-foreground: 15 87% 2%;
    --secondary: 15 6% 13%;
    --secondary-foreground: 15 6% 73%;
    --accent: 15 6% 13%;
    --accent-foreground: 15 6% 73%;
    --destructive: 6 81% 59%;
    --destructive-foreground: 0 0% 100%;
    --ring: 15 87% 62%;
  }

  [data-theme="chill"] {
    --background: 0 0% 98.04%;
    --foreground: 46 66% 4%;
    --muted: 46 10% 93%;
    --muted-foreground: 46 15% 31%;
    --popover: 0 0% 99%;
    --popover-foreground: 46 66% 3%;
    --card: 0 0% 100%;
    --card-foreground: 46 66% 3%;
    --border: 46 11% 95%;
    --input: 46 11% 95%;
    --primary: 46 91% 49%;
    --primary-foreground: 46 91% 9%;
    --secondary: 46 17% 90%;
    --secondary-foreground: 46 17% 30%;
    --accent: 46 73.35% 87.01%;
    --accent-foreground: 46 27% 23%;
    --destructive: 4.53 78.82% 49.47%;
    --destructive-foreground: 19 0% 100%;
    --ring: 46 91% 49%;
    --radius: 0.5rem;
  }

  [data-theme="chill"].dark {
    --background: 46 42% 1%;
    --foreground: 46 30% 98%;
    --muted: 46 10% 7%;
    --muted-foreground: 46 15% 69%;
    --popover: 46 42% 2%;
    --popover-foreground: 46 30% 99%;
    --card: 46 42% 2%;
    --card-foreground: 46 30% 99%;
    --border: 46 11% 12%;
    --input: 46 11% 12%;
    --primary: 46 91% 49%;
    --primary-foreground: 46 91% 9%;
    --secondary: 46 6% 12%;
    --secondary-foreground: 46 6% 72%;
    --accent: 46 15% 21%;
    --accent-foreground: 46 15% 81%;
    --destructive: 19 98% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 46 91% 49%;
  }

  [data-theme="persimon"] {
    --background: 0 0% 98.04%;
    --foreground: 46 66% 4%;
    --muted: 0 0% 94.9%;
    --muted-foreground: 46 15% 31%;
    --popover: 0 0% 99%;
    --popover-foreground: 46 66% 3%;
    --card: 0 0% 100%;
    --card-foreground: 46 66% 3%;
    --border: 0 0% 94.9%;
    --input: 46 11% 95%;
    --primary: 32.85 93.25% 53.53%;
    --primary-foreground: 45.71 0% 100%;
    --secondary: 46 17% 90%;
    --secondary-foreground: 46 17% 30%;
    --accent: 46 0% 92.31%;
    --accent-foreground: 46 27% 23%;
    --destructive: 4.53 78.82% 49.47%;
    --destructive-foreground: 19 0% 100%;
    --ring: 32.85 93.25% 53.53%;
    --radius: 0.5rem;
  }

  [data-theme="persimon"].dark {
    --background: 46 42% 1%;
    --foreground: 46 30% 98%;
    --muted: 46 10% 7%;
    --muted-foreground: 46 15% 69%;
    --popover: 46 42% 2%;
    --popover-foreground: 46 30% 99%;
    --card: 46 42% 2%;
    --card-foreground: 46 30% 99%;
    --border: 46 11% 12%;
    --input: 46 11% 12%;
    --primary: 32.85 93.25% 53.53%;
    --primary-foreground: 46 0% 100%;
    --secondary: 46 6% 12%;
    --secondary-foreground: 46 6% 72%;
    --accent: 0 0% 21.57%;
    --accent-foreground: 44 15.46% 80.98%;
    --destructive: 19 98% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 32.85 93.25% 53.53%;
  }

  [data-theme="silver"] {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  [data-theme="silver"].dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --ring: 240 4.9% 83.9%;
  }

  /* LIMITED THEMES START */
  [data-theme="valentine"] {
    --card: 294 43% 99%;
    --ring: 340 70% 57%;
    --input: 220 13% 91%;
    --muted: 340 6% 93%;
    --accent: 340 22% 74%;
    --border: 220 13% 91%;
    --popover: 340 67% 99%;
    --primary: 340 70% 57%;
    --secondary: 340 15% 82%;
    --background: 340 67% 99%;
    --foreground: 340 52% 0%;
    --destructive: 2 93% 36%;
    --card-foreground: 340 52% 0%;
    --muted-foreground: 340 9% 40%;
    --accent-foreground: 340 22% 14%;
    --popover-foreground: 340 52% 0%;
    --primary-foreground: 0 0% 100%;
    --secondary-foreground: 340 15% 22%;
    --destructive-foreground: 2 93% 96%;
    --radius: 0.5rem;
  }

  [data-theme="valentine"].dark {
    --card: 340 39% 3%;
    --ring: 340 70% 57%;
    --input: 215 27.9% 16.9%;
    --muted: 340 6% 7%;
    --accent: 340 24% 24%;
    --border: 215 27.9% 16.9%;
    --popover: 340 54% 1%;
    --primary: 340 70% 57%;
    --secondary: 340 16% 15%;
    --background: 340 54% 1%;
    --foreground: 340 20% 98%;
    --destructive: 2 93% 53%;
    --card-foreground: 340 20% 98%;
    --muted-foreground: 340 9% 60%;
    --accent-foreground: 340 24% 84%;
    --popover-foreground: 340 20% 98%;
    --primary-foreground: 0 0% 100%;
    --secondary-foreground: 340 16% 75%;
    --destructive-foreground: 0 0% 100%;
  }
  /* LIMITED THEMES END */

  /* SOON */
  [data-theme="beta-23"] {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --primary: 226.42 100% 63.82%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }

  [data-theme="beta-23"].dark {
    --background: 240 5.26% 3.73%;
    --foreground: 0 0% 98%;
    --muted: 237 5% 12%;
    --muted-foreground: 237 5% 47.31%;
    --popover: 237 5% 10%;
    --popover-foreground: 0 0% 98%;
    --card: 237 5% 7%;
    --card-foreground: 0 0% 98%;
    --border: 236.6 5% 15%;
    --input: 237 5% 14.9%;
    --primary: 234.97 100% 72.37%;
    --primary-foreground: 237 0% 0%;
    --secondary: 237 5% 13.4%;
    --secondary-foreground: 0 0% 98%;
    --accent: 237 5% 17%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 59.89% 56.85%;
    --destructive-foreground: 0 0% 98%;
    --ring: 223.02 100% 62.61%;
  }
}

@layer base {
  * {
    @apply border-accent;
  }
  body {
    @apply bg-background text-foreground tracking-tight;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-secondary;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary/65;
}